body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ADD8E6; /* Light shade of blue */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    margin: 10px 0 5px;
    color: #333;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
@media (max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .form-row {
        flex-direction: column;
    }
    .form-group {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .form-group {
        width: 100%;
        margin-right: 0;
    }
}
